Source: dark-flexibee-client
Section: office
Priority: optional
Maintainer: Vítězslav Dvořák <info@vitexsoftware.cz>
Build-Depends: debhelper ( >> 5.0.0), inkscape
Standards-Version: 4.3.0
Homepage: https://github.com/VitexSoftware/dark-flexibee-client-deb

Package: dark-flexibee-client
Architecture: all
Depends: flexibee|flexibee-client, breeze-gtk-theme
Description: Launch FlexiBee in dark mode
 Use this package if you need optically different FlexiBee application.
 It contains launcher of FlexiBee client with forced dark Breeze theme
