Source: abraflexi-dark-gui
Section: office
Priority: optional
Maintainer: Vítězslav Dvořák <info@vitexsoftware.cz>
Build-Depends: debhelper ( >> 5.0.0)
#,inkscape
Standards-Version: 4.3.0
Homepage: https://github.com/VitexSoftware/abraflexi-dark-gui

Package: abraflexi-dark-gui
Architecture: all
Depends: flexibee|flexibee-client|abraflexi-client, breeze-gtk-theme
Description: Launch AbraFlexi in dark mode
 Use this package if you need optically different FlexiBee application.
 It contains launcher of FlexiBee client with forced dark Breeze theme

